<!DOCTYPE html>
<html land='en'>
<head>
	<meta charset='UTF-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta name='viewpoint' content='width=device-width, initial-scale=1.0'>
	<title>Document</title>
	<link href="{{ url_for('static', filename='stylesheet.css') }}" rel="stylesheet" />
</head>
<body>
	{{msg}}
    <br>
    <h1>Congrats! Your Reservation has been Confirmed!</h1>
    <h3>We wanted to thank you {{fname}} {{lname}} for trusting Panther Hotel with your hospitality needs.</h3>
    <p>We assure you that you will enjoy your {{roomtype}} and find all the supplies you may need.</p>
    <p>For your records {{fname}}, your stay starting {{checkin}} and ending {{checkout}} in our {{roomtype}} room is confirmed.</p>
    <p>We are excited to assist you when you arrive!</p>
    <br>
    <form action='http://localhost:5000/' method="GET">
        <button><input type='submit' name='Return' value="Return Home"></button>
    </form>
</body>
</html>