<!DOCTYPE html>
<html land='en'>
<head>
	<meta charset='UTF-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta name='viewpoint' content='width=device-width, initial-scale=1.0'>
	<title>Document</title>
	<link href="{{ url_for('static', filename='stylesheet.css') }}" rel="stylesheet" />
</head>
<body>
    <h1>Hello Admin,</h1>
	<h1>This is the list of currently reserved rooms:</h1>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Check-In Date</th>
            <th>Check-Out Date</th>
            <th>Room Type</th>
        </tr>
        {% for row in rows %}
        <tr>
            <td>{{row['fname']}}</td>
            <td>{{row['lname']}}</td>
            <td>{{row['checkin']}}</td>
            <td>{{row['checkout']}}</td>
            <td>{{row['roomtype']}}</td>
        </tr>
        {% endfor %}
    </table>
    <form action='http://localhost:5000/' method="GET">
        <button><input type='submit' name='Return' value="Return Home"></button>
    </form>
</body>
</html>