<!DOCTYPE html>
<html land='en'>
<head>
	<meta charset='UTF-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta name='viewpoint' content='width=device-width, initial-scale=1.0'>
	<title>Document</title>
	<link href="{{ url_for('static', filename='stylesheet.css') }}" rel="stylesheet" />
</head>
<body>
	<h1>Welcome to the Brand New Panther Hotel Website!</h1>
	<form action='http://localhost:5000/login' method='GET'>
		<h2>Login as an Admin:</h2>
		<button><input type='submit' name='Login' value="Login"></button>
	</form>
	<form action='http://localhost:5000/reservation' method='GET'>
		<h2>Reserve a Room:</h2>
		<button><input type='submit' name='Reservation' value="Create a Reservation"></button>
	</form>
</body>
</html>